doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Wind forecast
  body
    button#button Get Weather!
    #container


    select
      option(value='pick') Pick One
      option(value='A') Tennessee
      option(value='B') Alabama
