doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Select & Paint
  body
    h1 ¡Select & Paint!
    input#textInput(autofocus)
    button#button Add Color to List
    br
    select#list
      option Pick a color
    #paint
