doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Odd-Even Drill
   body
     input(type='text', autofocus=true)#text-input
     input(type='button', value='Add Lis')#button
     ul#lis
