doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webcams
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        .panel
          h1 Traffic Cams
    .row
      .small-2.columns
        label Input a Zip Code
        input#inputZip(type='text', autofocus=true)
      .small-10.columns
        label &nbsp;
        button#addZip.tiny.radius Add Zip
    .row
      .small-2.columns
        select#zipList
      .small-2.columns
        button#getCams.tiny.radius. Get Webcams
      .small-8.columns
        button#clear.tiny.radius.alert Clear
    .row
      .small-12.columns
        #container

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')
    script $(document).foundation();

