.camBox {
  width: 138px;
  height: 99px;
  float: left;
  margin: 6px;
  position: none;
  repeat: none;
  border: ridge;
  background-size: contain;
  font-size: 8px;
  padding: 12px;
  color: tomato;
}
