* {
  margin: 10px;
}
#container {
  border-radius: 5px;
  height: 30px;
  padding: 5px;
}
#container div {
  border-radius: 5px;
  height: 20px;
  background: lightblue;
  float: left;
  padding: 5px;
}
#sentence {
  border: 2px dashed blue;
  height: 80px;
}
