doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Forecast by Zip
  body
    h1 Forecast by Zip
    input#textInput(autofocus)
    button#buttonZip Add Zip to List
    br
    select#list
      option Pick a Zip
    button#buttonFore Get Forecast...
