#bacon {
  background: url('http://rlv.zcache.com.au/superhero_bacon_cartoon_character_cut_outs-rf50dcd63754a4eb3973df9f5345097a1_x7saw_8byvr_512.jpg');
}
li {
  border: 2px dotted steelblue;
  background: #f0f8ff rgba(150, 24, 181, 0.9);
}
