doctype html
html
  head
    title Drill 3
    link(rel='stylesheet', src='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    h1 Drill 3
    img(src='http://www.fright-bytes.com/scary-halloween-animations/vampires/vampire13.gif')
    #controls
       input(type='text')#color
       input(type='button', value='Add Color')#add-color
    #colors
