doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Color Addition
   body
     h2 Color Addition
     input(type='text' placeholder='Input your colors')#colorInput
     input(type='button' value='Add color')#button
     #container
     #boxSum
