doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/stlye.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Satellite
  body
    h2 Satellite
    input#zip(placeholder='zip code' autofocus=true type='text')
    button#button Satellite Me!
    #container
      div#one
      div#two
      div#three
