doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/stlye.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
    title Box-ception!
  body
    h2 Box-ception!
    input#textInput(placeholder='number' autofocus=true type='text')
    button#button Box-ception!
    #initial
