doctype html
html
  head
    title Drill 2
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Drill 2
    img(src='http://www.gifbay.com/gif/wicked_parkour_wipeout_fail-35752/')
    #bacon
      ul
        - for(var i = 0; i < 100; i++)
          li= i
